<div class="col-12 col-md-8 col-lg-9" bis_skin_checked="1">
  <div class="row row-cols-1" bis_skin_checked="1">
    <div class="col" bis_skin_checked="1">
      <div class="card notice" bis_skin_checked="1">
        <div class="row no-gutters" bis_skin_checked="1">
          <div
            class="col-4"
            style="
              background-image: url('http://127.0.0.1:5500/assets/media/hubble-carina-nebula-landscape_2.jpg');
              background-size: cover;
              background-position: center center;
            "
            bis_skin_checked="1"
          >
            <img
              src="assets/media/hubble-carina-nebula-landscape_2.jpg"
              class="card-img-top convert-to-bg"
              alt="Carina Nebula captured by the Hubble Space Telescope"
              style="visibility: hidden"
            />
            <div class="card-img-overlay small" bis_skin_checked="1">
              (c) NASA
            </div>
          </div>
          <div class="col-8" bis_skin_checked="1">
            <div class="card-body" bis_skin_checked="1">
              <h5 class="card-title">Carina Nebula</h5>
              <h6 class="card-subtitle mb-2 text-muted">
                The "Mystic Mountains"
              </h6>
              <p class="card-text">
                The Hubble Space Telescope captured this view of the Carina
                Nebula. It was quickly dubbed the "Mystic Mountains".
              </p>
              <a href="#" class="btn btn-primary mb-0">Read more</a>
            </div>
            <div class="card-footer small text-muted" bis_skin_checked="1">
              Author: <a href="#">Robin</a>, 3 days ago
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col" bis_skin_checked="1">
      <div class="card notice" bis_skin_checked="1">
        <div class="row no-gutters" bis_skin_checked="1">
          <div
            class="col-4 order-last"
            style="
              background-image: url('http://127.0.0.1:5500/assets/media/hubble-carina-nebula-landscape.jpg');
              background-size: cover;
              background-position: center center;
            "
            bis_skin_checked="1"
          >
            <img
              src="assets/media/hubble-carina-nebula-landscape.jpg"
              class="card-img-top convert-to-bg"
              alt="Carina Nebula captured by the Hubble Space Telescope"
              style="visibility: hidden"
            />
            <div class="card-img-overlay small" bis_skin_checked="1">
              (c) NASA
            </div>
          </div>
          <div class="col-8" bis_skin_checked="1">
            <div class="card-body" bis_skin_checked="1">
              <h5 class="card-title">Carina Nebula</h5>
              <h6 class="card-subtitle mb-2 text-muted">
                The "Mystic Mountains"
              </h6>
              <p class="card-text">
                The Hubble Space Telescope captured this view of the Carina
                Nebula. It was quickly dubbed the "Mystic Mountains".
              </p>
              <a href="#" class="btn btn-primary mb-0">Read more</a>
            </div>
            <div class="card-footer small text-muted" bis_skin_checked="1">
              Author: <a href="#">Robin</a>, 5 days ago
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col" bis_skin_checked="1">
      <div class="card notice" bis_skin_checked="1">
        <div class="row no-gutters" bis_skin_checked="1">
          <div
            class="col-4"
            style="
              background-image: url('http://127.0.0.1:5500/assets/media/hubble-carina-nebula-landscape.jpg');
              background-size: cover;
              background-position: center center;
            "
            bis_skin_checked="1"
          >
            <img
              src="assets/media/hubble-carina-nebula-landscape.jpg"
              class="card-img-top convert-to-bg"
              alt="Carina Nebula captured by the Hubble Space Telescope"
              style="visibility: hidden"
            />
            <div class="card-img-overlay small" bis_skin_checked="1">
              (c) NASA
            </div>
          </div>
          <div class="col-8" bis_skin_checked="1">
            <div class="card-body" bis_skin_checked="1">
              <h5 class="card-title">Carina Nebula</h5>
              <h6 class="card-subtitle mb-2 text-muted">
                The "Mystic Mountains"
              </h6>
              <p class="card-text">
                The Hubble Space Telescope captured this view of the Carina
                Nebula. It was quickly dubbed the "Mystic Mountains".
              </p>
              <a href="#" class="btn btn-primary mb-0">Read more</a>
            </div>
            <div class="card-footer small text-muted" bis_skin_checked="1">
              Author: <a href="#">Sasha</a>, 06. February 1951
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
